/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

html {
    font-size: 100%;
    background-image: url('images/header.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 1em;
    padding: 3% 4%;
}

#website {
    margin: 0 auto;
    width: 85%;
    padding:3%;
    border-radius: 2%;
    background-color: rgba(171, 44, 209, 0.6);

}

ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

img.thumbnail {
    width: 7em ;
    height: 7em;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}*/



*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    background-image: url('images/fondo9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html>head.icon{
    content: url("/content/images/209457-200.png");
    visibility: visible;
}

h1{
    font-family: Arial, sans-serif;
    font-weight: 400;
    height: 60px;
    width: 100%;
    background: none;
    line-height: 60px;
    color: white;

}
header{
    width: 250px;
    height: 666px;
    background-color: #1A8DA9;
    background-size: cover;

}
div a{
    text-decoration: none;
    color: white;
    padding:20px;
    padding-right:100px;
}

div ul li{
    list-style-type: none;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #d3f0f6;
}
div ul li:hover{
    background: #d3f0f6;
    transition: linear all 0.40s;
    margin: 10px;
}
div ul li a:hover{
    color: black;
}
.selected{
    background: white;
}
.selected a{
    color: black;
}
header>ul>li>a {

    color: white;
    text-align: center;

}
#logged-in-info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: none;
    display: inline;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

/* -------------------------------------------------------------------------- */
/* -----| HEADER, FOOTER |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */


footer {
    color: black;
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    text-align:center;
    background:none;
    overflow: hidden;

}




/*header ul li {*/
/*float: left;*/
/*}*/

/*header>ul>li>a, footer {*/
/*display: block;*/
/*color: white;*/
/*text-align: center;*/
/*padding: 14px 16px;*/
/*text-decoration: none;*/
/*vertical-align: middle;*/
/*font-size: 1.2em;*/

/*}*/

/*header ul li a:hover:not(.active) {*/
/*background-color: darkcyan;*/
/*border-radius: 12px;*/
/*}*/

/*header ul li a:active {background-color: #4CAF50;}*/

/*header ul li.right {*/
/*float: right;*/
/*color: white;*/
/*}*/

/*@media screen and (max-width: 600px){*/
/*header ul li.right,*/
/*header ul li {float: none;}*/
/*}*/

/*li#site-logo img{*/
/*width: 12%;*/
/*height:17%;*/
/*}*/


/* -------------------------------------------------------------------------- */
/* -----| BUTTONS |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.button {
    display: inline-block;
    border-radius: 2px;
    background-color: seagreen;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    padding: 10px 5px 10px 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}




/* -------------------------------------------------------------------------- */
/* -----| LOGIN FORM |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#login{
    position: absolute;
    top: 100px;
    left: 850px;
    color: white;
    display: inline;
}

.container{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: #1A8DA9;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 150px;
    margin-left: -140px;

}

.container h2 {
    margin-top: -20px;
}

.container img{
    width: 120px;
    height: 120px;
    margin-left: 78px;
    margin-top: -37px;
    margin-bottom: 30px;

}

input.write_field[type="email"],input.write_field[type="password"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 40px;
}

.form-input::before{
    content: url("/views/users/icon-user-name.png");
    position: absolute;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 35px;
}

.form-input:nth-child(2)::before{
    content: url("/views/users/icon-pwd.png");

}

a.login{
    color: #fff;
    margin-left: 80px;
}

/* -------------------------------------------------------------------------- */
/* -----| PHOTOS |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* -----| REGISTER FORM |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#register {
    position: absolute;
    top: 200px;
    left: 700px;
    color: black;
    background: none;
    width: 500px;
}

input.write_field {
    padding:5px;
    width: 200px;
}
/* -------------------------------------------------------------------------- */
/* -----| UPLOAD FORM |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.custom-file-input::-webkit-file-upload-button {
    visibility: visible;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.upload_photo_form {
    padding:1%;
    width: 40%;
    margin: auto;
}

/* -------------------------------------------------------------------------- */
/* -----| DEFAULT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */



/*body>header {*/
    /*padding: 5px;*/
/*}*/

/*body>header>a>img, body>header a  {*/

/*}*/

/*body>footer {*/
/*background: #eee;*/
/*padding: 5px;*/
/*margin: 10px 0;*/
/*text-align: center;*/
/*}*/


ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

/*#logged-in-info {*/
    /*float: right;*/
    /*margin-top: 18px;*/
/*}*/

/*#logged-in-info form {*/
    /*display: inline-block;*/
    /*margin-right: 10px;*/
/*}*/





