/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    background-image: url('images/fondo9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html>head.icon{
    content: url("/content/images/209457-200.png");
    visibility: visible;
}

body {
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 1em;
    padding: 0 2% 3% 2%;
    min-height: 600px;
}

div.content {
    margin-left: 20%;
    padding-top: 40px;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER, NAV |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */


header {
    width: 16%;
    height: 100%;
    position: fixed;
    background-color: #1A8DA9;
    background-size: cover;
}

ul#header li a{
    font-family: Arial, sans-serif;
    font-weight: 800;
    height: 60px;
    width: 100%;
    background: none;
    line-height: 60px;
    color: white;
    padding:20px;
    padding-right:100px;
    text-decoration: none;
}

ul#header li{
    list-style-type: none;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #d3f0f6;
}

ul#header li:hover{
    background: #d3f0f6;
    transition: linear all 0.40s;
    margin: 10px;
}

ul#header li a:hover{
    color: black;
}

.selected{
    background: white;
}

.selected a{
    color: black;
}

#logged-in-info {
    position: absolute;
    top: 30px;
    right: 10px;
    color: black;
    background: none;
    display: inline;
    font-size: 30px;
}

 #logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}




/* -------------------------------------------------------------------------- */
/* -----| FOOTER |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */




footer {
    color: black;
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    padding-top: 150px;
    text-align:center;
    background:none;
    overflow: hidden;

}

header ul li a img {
    width: 80px;
    width: 160px;
    padding-left: 20px;
}


/* -------------------------------------------------------------------------- */
/* -----| ABOUT US |--------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


#googleMap {
    border: solid 2px silver;
}


/* -------------------------------------------------------------------------- */
/* -----| BUTTONS |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.button {
    display: inline-block;
    background-color: rgba(44, 209, 178, 0.92);
    border: solid rgba(0, 0, 0, 0.18) 3px;
    color: rgba(255, 251, 244, 0.84);
    text-align: center;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover {
    border-radius: 0;
}

.home_not_logged_div  a{
    text-decoration: none;
    color: white;
}

#home_not_logged button.button{
    padding: 20px;
}

div#logged-in-info .button{
    padding: 10px;
    font-size:12px;
}

/* -------------------------------------------------------------------------- */
/* -----| LOGIN FORM |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#login, #register, .upload_photo{
    color: white;
    display: inline;
    margin-left: 20%;
}

.container {
    margin-left: 38%;
    margin-top: 9%;
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: #1A8DA9;
    border-radius: 6px;

}

.container h2 {
    margin-top: -20px;
}

.container img, #register img{
    width: 120px;
    height: 120px;
    margin-top: -37px;
    margin-bottom: 30px;

}

input.write_field[type="email"],input.write_field[type="password"], input.write_field[type="text"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 40px;
}

.form-input::before{
    content: url("/content/images/icon-user-name.png");
    position: absolute;
    padding-left: 5px;
    padding-top: 7px;
    font-size: 35px;
}

.form-input:nth-child(2)::before{
    content: url("/content/images/icon-pwd.png");

}

a.login{
    color: #fff;
    margin-left: 80px;
}



/* -------------------------------------------------------------------------- */
/* -----| REGISTER FORM |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#register{
    color: white;
    display: inline-block;
    margin-left: 38%;
    margin-top: 5%;
    width: 500px;
    height: auto;
    text-align: center;
    background-color: #1A8DA9;
    border-radius: 6px;
}

#register h1, #register h3 {
    padding-bottom: 30px;
}

#register p label {
    font-size: 1.4em;
}

/*
input.write_field {
    padding:5px;
}
*/

#register input[type=text], #register input[type=password], #register input[type=email] {
    width: 80%;
}

fieldset {
    border: none;
}

#register form  {
    padding-bottom: 30px;
}

/* -------------------------------------------------------------------------- */
/* -----| PHOTOS |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */




ul li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}


img#delete {
    width: 15px;
    height: 15px;
}


div.content div {
    display: inline-block;
}

div.content ul{
    padding-top: 30px;

}

.home_not_logged_div {
    padding-top: 10%;
    padding-left: 28%;
    width: 300px;
    text-align: center;
    font-size: 1.5em;
}

.home_not_logged_div p {
    padding: 30px;
}


.upload_photo {
    width: 450px;
    height: 150px;
    text-align: center;
    background-color: #1A8DA9;
    border-radius: 6px;
    font-size: 1.3em;
    padding-top: 20px;
}

input[type="file"] {
    font-size: 20px;
}


#album {
    width: 700px;
    height: 170px;
    top: 200px;
    left: 0px;
    color: white;
    text-align: center;
    background-color: #1A8DA9;
    border-radius: 6px;
    margin-left: 200px;
}

#album>form.upload_photo_form{
    font-size: 18px;
    background: none;
    margin-top: 10px;

}

.photo_container li a img{
    border-radius: 8px;
    border: solid 2px silver;
}


/* -------------------------------------------------------------------------- */
/* -----| ALBUMS |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


img.thumbnail {
    width: 10em ;
    height: 10em;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}






/* -------------------------------------------------------------------------- */
/* -----| UPLOAD FORM |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.custom-file-input::-webkit-file-upload-button {
    visibility: visible;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.upload_photo_form {
    padding:1%;
    width: 40%;
    margin: auto;
}


#upload_photo {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: none;
    display: inline;
}

#upload_photo  form {
    display: inline-block;
    margin-right: 10px;
}



/* -------------------------------------------------------------------------- */
/* -----| DEFAULT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

ul#messages {
    padding-top: 20px;
}

ul#messages li {
    display: block;
    width: 60%;
    margin: 5px auto;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 300;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}
